.root


.headerTop
  margin: 0 auto
  padding: 15px 75px
  display: flex
  align-items: center
  //font-size: var(--font-size)
  font-size: 0.75rem
  color: #FFF
  background-color: #001529


.contactsBox
  margin-right: auto
  display: flex

.phoneBox
  margin-right: 10px

.emailBox
  margin-right: 10px

.emailLink

.addressBox

.addressText

.languageAndFontSizeBox
  display: flex
  align-items: center

.fontSizeBox
  margin-right: 15px

.languageBox

.headerBottom
  padding: 15px 75px
  display: flex
  align-items: center

.logoNameBox
  display: flex
  align-items: center

  margin-right: auto

.logoBox

.logoImg

.nameBox
  display: flex
  flex-direction: column

.title
  font-size: 25px
  font-weight: 600

.subtitle
  font-size: 12px
  font-weight: 400

.searchBox