.root
  display: flex
  flex-direction: column
  align-items: center
  width: 100%
  min-height: 100vh

.return
  border-bottom-left-radius: 10px
  border-top-left-radius: 10px

.title
  margin-bottom: 10px

.ratingBox
  font-size: 0.7rem
  color: #D3D3D3


.titleBox
  margin-bottom: 20px
  display: flex
  flex-direction: column
  align-items: start

.imgBox
  text-align: center
  width: 90%

.img
  margin-bottom: 20px
  width: 40%
  height: 40%
