.root
  margin-bottom: 50px
  width: 100%
  display: flex
  flex-wrap: wrap
  row-gap: 43px
  column-gap: 30px
  justify-content: space-between

.heading
  margin: auto

.card

.list

.img
  width: 290px
  height: 140px

